linux-5.15.0*
linux_5.15.0*
linux-headers-5.15.0*

*.o
*.out
.cache

.vscode/settings.json
.zed/settings.json

project2/test/*fmap*
project2/test/*mmap*
project2/test/out
project2/compile_commands.json

project3/compile_commands.json
